body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  display: grid;
  grid-template-rows: 70px auto;
}

ul,
li {
  list-style-type: none;
}

.App__header {
  background: #4183c4;
  color: white;
  font-weight: 100;
  margin: 0;
  text-align: left;
}

.App__header a {
  margin-left: 45px;
  line-height: 30px;
  font-size: 36px;
  text-decoration: none;
  color: white;
}

.Posts__controls {
  padding: 16px 0 16px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.Posts__new {
  margin-left: 70px;
  margin-top: 16px;
  text-align: left;
}

.Posts__controls li {
  display: inline;
  margin-left: 15px;
}

.Posts__categories {
  text-align: center;
}

.Posts__filter {
  text-align: right;
  margin-right: 70px;
}

.Posts__filter li a {
  cursor: pointer;
  color: #369;
  border-bottom: 1px dotted #369;
}

.Post__wrapper,
.PostPage__wrapper {
  padding: 40px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.Post__header {
  display: grid;
  grid-template-columns: 90px auto;
}

.Post__header a {
  text-decoration: none;
}

.Post__info {
  margin: -42px 0 0 50px;
  color: rgba(0, 0, 0, 0.3);
}

.Post__info li {
  display: inline;
}

.Post__vote {
  font-size: 22px;
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
}

.Post__score {
  margin: 2px;
}

.Post__upvote,
.Post__downvote {
  color: rgba(0, 0, 0, 0.36);
  cursor: pointer;
}

.Post__downvote,
.Comments__downVote {
  transform: rotate(0.5turn);
  text-align: right;
}

.Post__delete,
.Post__edit a {
  width: 34px;
  border-bottom: 1px dotted #369;
  cursor: pointer;
  font-size: 12px;
  color: #369;
  margin: 5px 0px 0 0px;
  text-decoration: none;
}

.Post__edit a:visited {
  color: #369;
}

.Post__delete {
  margin-right: 5px;
  margin-left: 15px;
}

.Post__edit {
  margin-left: 5px;
}

.Post__title {
  font-size: 29px;
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
}

.Post__body {
  margin-left: 90px;
  color: rgba(0, 0, 0, 0.56);
  margin-top: 30px;
}

/* Comments */

.Comments__wrapper {
  margin-left: 60px;
}

.Comments__wrapper h5 {
}

.Comments_list {
  padding: 0;
}

.Single-comment {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.Single-comment:first-of-type {
  padding-top: 5px;
}

.Single-comment__metadata {
  display: inline-flex;
  margin-bottom: 8px;
  margin-left: 20px;
  padding: 0;
}

.Single-comment__author {
  color: #369;
}

.Single-comment__vote {
  margin-left: 10px;
}

.Single-comment__timestamp {
  margin-left: 7px;
}

.Comments__vote-button {
  display: inline-block;
  margin-right: 10px;
  padding: 0;
  color: rgba(0, 0, 0, 0.34);
  position: absolute;
  padding: 0 10px 0 0;
}

.Comments__vote-button li {
  cursor: pointer;
}

.Single-comment__body {
  margin-left: 20px;
}
.Single-comment__options {
  display: flex;
  padding-left: 0;
}

.Single-comment__delete,
.Single-comment__edit {
  width: 35px;
  border-bottom: 1px dotted #369;
  cursor: pointer;
  font-size: 12px;
  color: #369;
  margin: 5px 0 0 20px;
}

.Single-comment__edit {
  width: 24px;
}
.Single-comment__edit a,
.Single-comment__edit a:visited {
  color: #369;
  font-size: 12px;
}

.Deleted__wrapper {
  text-align: center;
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.56);
}

.Deleted__wrapper .fa {
  font-size: 50px;
  color: rgba(0, 0, 0, 0.12);
}

/* Submit */

.Submit__wrapper form {
  display: grid;
  grid-template-rows: 130px 130px 200px 100px;
  justify-content: center;
  margin-top: 40px;
}

.Submit__input {
  display: grid;
  width: 600px;
  grid-template-rows: 30px 65px 20px;
}

.Submit__input input {
  width: 596px;
  height: 50px;
  margin: 10px 0px 20px 0px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  font-size: 18px;
  padding-left: 12px;
  box-sizing: border-box;
}

.Submit__textarea textarea {
  width: 596px;
  height: 150px;
  margin-top: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  padding: 12px;
  box-sizing: border-box;
  resize: none;
}

.Submit__wrapper label {
  font-size: 20px;
}

.Submit__wrapper button,
.EditComment__wrapper button,
.EditPost__wrapper button {
  width: 20%;
  height: 40%;
  background-color: #4183c4;
  border-radius: 5px;
  border: 0;
  color: white;
  justify-self: end;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  float: right;
}

.Submit__cancel {
  float: right;
  margin: 20px 0px 0px 10px;
}

.Submit__wrapper button:hover {
  background-color: #369;
}

.Submit__wrapper button:active {
  background-color: #254c73;
}

.Submit__input__error,
.Submit__textarea__error {
  color: #f44336;
  margin-left: 12px;
  font-size: 12px;
}

.danger {
  border: 1px solid red !important;
}

/*Edit Post */

.EditPost__wrapper form {
  display: grid;
  grid-template-rows: 60px 130px 200px 100px;
  justify-content: center;
  margin-top: 40px;
}

/*Edit comment*/

.EditComment__wrapper form {
  display: grid;
  grid-template-rows: 60px 200px 100px;
  justify-content: center;
  margin-top: 40px;
}

.Comments__add {
  margin-top: 16px;
  color: #369;
  font-size: 16px;
}

.Post__comment-length {
  margin-left: 5px;
}
